.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/

.idea/libraries/Dart_SDK.xml

.idea/misc.xml

.idea/workspace.xml

.idea/

example/.flutter-plugins-dependencies

example/ios/Flutter/flutter_export_environment.sh
